<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>
    <header>Order Details</header>

    <main>
        <form action="/order/total" method="GET">
            <div>
                <label for="orderNo">Order Id:</label>
                <input type="text" id = "orderId" name = "orderId" placeholder="Enter order id">
            </div>

            <button type = "submit"> Search</button>
        </form>
    </main>
</body>
</html>